<div class="container">
    <div class="row">
        <h1 class="title">
            Eat Das BurgerBooten!
        </h1>
    </div>
    <div class="row">
        <img alt="burger icon" class="burger-icon" src="assets/burger.png">
        </img>
    </div>
    <div class="row">
        <div class="col s12 m6 l5">
            <ul class="collection">
                <div class="not-devoured-group">
                </div>
            </ul>
        </div>
        <div class="col s12 m6 l5 offset-l2">
            <ul class="collection">
                <div class="devoured-group">
                </div>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6 l3">
            <form action="/" class="create-form" method="POST">
                <div class="form-group">
                    <label for="burg">
                        Burger:
                    </label>
                    <input id="burg" name="burger" type="text">
                    </input>
                </div>
                <button class="waves-effect waves-light btn" type="submit">
                    Add Burger
                </button>
            </form>
        </div>
    </div>
</div>
{{#each burgers}}
	{{#if devoured}}
<li class="collection-item devoured">
    <input name="id" type="hidden" value="{{this.id}}">
        <span name="burger-name">
        </span>
        {{this.burger_name}}
    </input>
</li>
{{else}}
<li class="collection-item not-devoured">
    <form action="/?_method=PUT" class="create-update-form" method="POST">
        <input name="id" type="hidden" value="{{this.id}}">
            <div class="row center-vert">
                <div class="col s6">
                    <p>
                        <span name="burger-name">
                        </span>
                        {{this.burger_name}}
                    </p>
                </div>
                <div class="col s6 submit-parent">
                    <button class="secondary-content waves-effect waves-light btn" type="submit">
                        Devour!
                    </button>
                </div>
            </div>
        </input>
    </form>
</li>
{{/if}}
{{/each}}
<script>
    $('.devoured').appendTo($('.devoured-group'));
	$('.not-devoured').appendTo($('.not-devoured-group'));
</script>
<style>
	body {
		background-color: #f8f0b9;
	}

    .title {
		margin-top: 70px;
		font-family: 'Permanent Marker', cursive;
		text-align: center;
		color: #b12411;
	}
	
	.burger-icon {
		display: block;
	    margin: auto;
	}

	p {
		font-family: 'Open Sans', sans-serif;
		vertical-align: middle;
		line-height: 36px;
		margin: 0px;
	}
	
	.center-vert {
		margin: 0px;
	}

	li.collection-item.devoured, li.collection-item.not-devoured {
		background-color: #fcf7da;
	}

	.devoured-group {
		text-decoration: line-through;
		color: grey;
	}
</style>